{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block title %}Add a contact - AddressBook{% endblock %}

{% block body %}
  <h2 class="mt-4 mb-3">Add a contact</h2>

  {{ form_start(contactForm, {'attr': {'novalidate': 'novalidate'} }) }}

    {{ form_row(contactForm.firstName) }}
    {{ form_row(contactForm.lastName) }}
    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.telephone) }}
    {{ form_row(contactForm.company) }}

  <div class="form-group ">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
  {{ form_end(contactForm) }}

{% endblock %}
