<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">AddressBook</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('app_contact_list') }}" data-toggle="dropdown">
            Contacts
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_contact_list') }}">List</a>
            <a class="dropdown-item" href="{{ path('app_contact_add') }}">Add</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Apple</a>
            <a class="dropdown-item" href="#">Microsoft</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('app_company_list') }}" data-toggle="dropdown">
            Companies
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_company_list') }}">List</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_login') }}">
            Login
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
            Logout
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
